<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "head.html" .}}
        <!-- for ipad -->
        <style>
            @media only screen
            and (min-device-width : 768px)
            and (max-device-width : 1024px)
            and (orientation : portrait) {
                main {
                    max-width: 42rem !important;
                }
            }
        </style>
    </head>
    <body class="bg-cool-gray-50 border-t-4 border-teal-400 antialiased font-body">
        <main class="md:max-w-3xl sm:max-w-2xl sm:mx-auto">
            {{partial "header.html" .}}
            {{block "content" .}}{{end}}
            {{partial "footer.html" .}}
        </main>
    </body>
</html>
