{{define "content"}}
<section class="mx-4 md:mx-0 my-10">
    <h2 class="font-sans text-5xl leading-tight font-bold text-gray-800">{{.Title}}</h2>
    <p class="text-gray-500 my-4" id="list-count">Count: {{len .Pages}}</p>
    {{if .Site.Params.search}}
      <input id="search" type="text" placeholder="Search by title..."/>
    {{end}}
    <ul id="list">
      {{range .Pages.ByPublishDate.Reverse}}
      <li class="my-1 mx-4">
        <div class="flex font-sans leading-snug">
            <span class="w-4/12 md:w-2/12 text-gray-500"><time datetime="{{.PublishDate.Format "Jan 02, 2006"}}">{{.PublishDate.Format "Jan 02, 2006"}}</time></span>
            <span class="w-8/12 md:w-10/12"><a href="{{.Permalink}}" class="text-gray-700 transition duration-200 ease-in-out transform focus:text-orange-500 hover:text-orange-500">{{.Title}}</a></span>
        </div>
      </li>
      {{end}}
    </ul>
</section>
{{partial "search.html" .}}
{{end}}
