{{define "content"}}
<section class="mx-4 my-8 md:mx-0">
    <h2 class="font-sans text-5xl leading-tight font-bold text-gray-800">{{.Title}}</h2>
    <p class="text-gray-500 my-4" id="list-count">Count: {{len .Pages}}</p>
    {{if .Site.Params.search}}
      <input id="search" type="text" placeholder="Search by tag..."/>
    {{end}}
    <ul id="list" class="flex justify-between flex-wrap">
    {{range .Data.Terms.Alphabetical}}
      <li class="my-1 mx-4 w-1/5">
          <div class="flex">
            <span class="text-gray-500">({{.Count}})&nbsp</span>
            <span><a href="{{.Page.Permalink}}" class="font-sans leading-snug text-gray-700 transition duration-200 ease-in-out transform focus:text-orange-500 hover:text-orange-500">{{.Page.Title}}</a></span>
            </div>
      </li>
    {{end}}
    </ul>
</section>
{{partial "search.html" .}}
{{end}}
