@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  overflow-x: scroll;
}

::selection {
  @apply bg-orange-200;
}

article {
  @apply text-sm;
}

article > * {
  @apply my-6;
}

article > *:last-child {
  @apply mb-0;
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  @apply font-sans font-bold text-gray-800 leading-tight mt-10 border-b border-teal-500;
}

article > h1 {
  @apply text-4xl;
}

article > h2 {
  @apply text-3xl;
}

article > h3 {
  @apply text-2xl;
}

article > h4 {
  @apply text-xl;
}

article > p > code,
article li > code {
  @apply p-1 border border-gray-200 bg-gray-100;
}

article > ul,
article > ol {
  @apply mx-8 -my-2;
}

article > ul > ul,
article > ol > ol {
  @apply mx-16 -my-2;
}

/* hr { */
/*   @apply mt-8 border-gray-300; */
/* } */

ul {
  @apply list-square;
}

ol {
  @apply list-decimal;
}

article img {
    @apply my-4 rounded-lg shadow-xl transition duration-500 ease-in-out transform;
}

article img:hover {
    @apply shadow-2xl scale-125;
}

article > .highlight > .chroma {
  @apply p-4 bg-gray-100 font-mono overflow-x-auto border border-gray-200 text-sm;
}

article > blockquote {
  @apply border-l-4 mx-4 px-4 bg-gray-100 border-teal-400;
}

article > table {
  @apply text-left border-collapse;
}

article > table > thead > tr > th {
  @apply py-2 px-4 bg-gray-200 font-bold border border-gray-50;
}

article > table > tbody > tr > td {
  @apply py-2 px-4 border border-gray-200;
}

a {
  @apply text-blue-500 transition duration-200 ease-in-out transform;
}

a:focus,
a:hover {
  @apply text-blue-400;
}

nav > a {
  @apply text-blue-500 border-b-2 border-blue-500 transition duration-200 ease-in-out transform;
}

nav > a:hover, a:focus {
  @apply text-blue-400 border-blue-400;
}

input{
  @apply shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-gray-500 mb-3 leading-tight;
}

button {
  @apply rounded-full shadow appearance-none px-16 py-3 uppercase font-bold text-sm bg-gray-200;
}

@layer components {
    .share {
        @apply flex items-center mr-4 transition duration-500 ease-in-out transform text-gray-500;
    }

    .share:focus, .share:hover {
        @apply scale-110 text-blue-500;
    }
}

input:focus, button:hover {
  @apply outline-none ring;
}

@screen md {
  article {
    @apply text-base;
  }
}
