<div><button id="comment" class="flex mt-8 mx-auto">load comments</button></div>
<div id="graphcomment"></div>
<script type="text/javascript">
  (function (){
  window.gc_params = {
    graphcomment_id: 'thoughtexpo',
  };
  function getComments() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
    };
  var comment=document.getElementById("comment")
  if (comment){
    comment.addEventListener("click", getComments, {once: true});
  }
  })();
</script>