<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
<title>{{if not .IsHome}}{{with .Title}}{{.}} | {{end}}{{end}}{{.Site.Title}}</title>
<meta name="author" content="{{.Site.Params.author}}">
<meta name="description" content="{{with .Summary}}{{.|plainify}}{{else}}{{.Site.Params.description}}{{end}}">
<link rel="canonical" href="{{.Permalink}}">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
{{template "_internal/opengraph.html" .}}
{{template "_internal/twitter_cards.html" .}}
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
{{$css := resources.Get "css/chroma.css" | minify | fingerprint}}
<link rel="stylesheet" href="{{$css.Permalink}}" type="text/css">
{{$css := resources.Get "css/tailwind.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess}}
<link rel="stylesheet" href="{{$css.Permalink}}" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" defer></script>
