<p class="text-cool-gray-500 mt-1">
  {{ $dateFormat := (partial "date-format.html" | string) }}
  {{ $publishDate := .PublishDate }}
  {{ $formattedPublishDate := $publishDate.Format $dateFormat }}
  <strong>Published: </strong>{{ $formattedPublishDate }}
  {{ with .Lastmod }}
    {{ $formattedLastmod := .Format $dateFormat }}
    {{ $prev := (time $publishDate)}}
    {{ $curr := (time .)}}
    {{ if $curr.After $prev }}
      &bull; <strong>Lastmod: </strong>{{ $formattedLastmod }}
    {{ end }}
  {{ end }}
  &bull; {{.ReadingTime}} min {{i18n "read"}} read
</p>
